* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins",'Courier New', Courier, monospace;
}
body {
    background-color: #333;
    color: #fff;
}
main {
    width: 50%;
    max-width: 800px;
    background-color: aqua;
    padding: 20px;
    color: #000;
    margin: 20px auto;
    border-radius: 20px;
}
main.change-bg {
    background-color: darkcyan;
}
h1 {
    margin: 20px auto;

}
p {

    text-align: justify;
}
#color-button {
    margin: 10px auto;
    border: none;
    outline: none;
    background-color: #fa1;
    padding: 10px 10px;
    border-radius: 10px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}
