* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins",'Courier New', Courier, monospace;
}
body {
    background-color: #333;
    color: #fff;
}
main {
    width: 50%;
    max-width: 800px;
    background-color: aqua;
    padding: 20px 40px;
    color: #000;
    margin: 20px auto;
    border-radius: 20px;
}
main.change-bg {
    background-color: darkcyan;
}
h1 {
    margin: 20px auto;

}
p {

    text-align: justify;
}
#color-button {
    margin: 10px auto;
    border: none;
    outline: none;
    background-color: #fa1;
    padding: 10px 10px;
    border-radius: 10px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}
a {
    text-decoration-line: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #fa1;
}
ul {
    padding: 10px;
}
li {
    list-style-type: square;
}
.navigation {
    background-color: gray;
}
.navigation ul {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.navigation ul li {
    list-style-type: none;
}
.navigation ul li a {
    font-weight: 600;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.navigation a:hover {
    color: #fff;
}