* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins",'Courier New', Courier, monospace;
}
body {
    background-color: #333;
    color: #fff;
    position: relative;
}
main {
    width: 50%;
    max-width: 800px;
    background-color: aqua;
    padding: 20px 40px;
    color: #000;
    margin: 100px auto;
    border-radius: 20px;
}
main.change-bg {
    background-color: darkcyan;
}
h1 {
    margin: 20px auto;

}
p {

    text-align: justify;
}
#color-button {
    margin: 10px auto;
    border: none;
    outline: none;
    background-color: #fa1;
    padding: 10px 10px;
    border-radius: 10px;
    display: block;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
a {
    text-decoration-line: none;
    transition: all 0.2s ease-in-out;
}
a:hover {
    color: #fa1;
}
ul {
    padding: 10px;
}
li {
    list-style-type: square;
}
.navigation {
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navigation ul {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.navigation ul li {
    list-style-type: none;
}
.navigation ul li a {
    font-weight: 600;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.navigation a:hover {
    color: #fff;
}
.modal {
    width: 100%;
    max-width: 600px;
    background-color: rgb(173, 187, 214);
    min-height: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    color: #000;
    position: relative;
    display: none;
}
.modal.open-modal {
    display: block;
}
.modal h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
}
.modal i {
    position: absolute;
    right: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.modal i:hover {
    color: red;
}
.modal form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 10px auto;
    display: block;
}
.modal form label {
  width: 100px;
    display: inline-block;
    margin-top: 10px;
}
.modal form input {
    width: 80%;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 20px;
}
.modal button {
    margin-top: 10px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #fa1;
    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.escalation-open-button {
    margin-top: 10px;
    width: 200px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #fa1;
    box-shadow: 1px 3px 7px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
